.header {
  background-color: #fff;
  display: flex;
  justify-content: space-between;
  padding: 10px;
  box-shadow: 0px 5px 5px #d1d1d1;
  position: fixed;
  width: 100vw;
  z-index: 1000;
}

.main {
  display: flex;
  margin-top: 150px;
  z-index: 100;
}

.header img {
  height: 80px;
  margin-right: 30px;
}

.column-step {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.column-step .actions {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.column-step .actions > * {
  margin: 10px 10px 0 0;
}

.denoised {
  width: 256px !important;
}

.picture {
  border-radius: 10px !important;
  height: 300px;
}

.inline {
  display: flex;
  align-items: center;
}

.inline > * {
  margin-right: 20px;
}
